body{
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.png");
  background-size: cover;
}
.btn{
  padding: 0px;
}
#bt{
  padding-left: 50px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 50px;
}
.xin{
  margin: 0;
  padding: 0;
}
#aixin{
  margin:0 auto;
  text-align: center;
  height: 400px;
  width: 500px;
}
#xin2{
  position: relative;
  top:100px;
  left: -42px;
}

@media screen and (max-width: 500px) {
  #aixin{
    margin-top:30px;
    text-align: center;
    height: 200px;
    width: 320px;
  }
  #photo{
    width: 70%;
    height: 70%;
  }
  #xin1{
    margin-top: 10px;
    margin-left: 40px;
    width: 140px;
    height: 230px;
  }
  #xin2{
    width: 122px;
    height: 290px;
    position: relative;
    top:80px;
    left: -28px;
  }
  #bt{
    margin-bottom: 30px;
    padding-left: 35px;
  }

}
