@font-face {
  font-family: "main";
  src: url(../fonts/main.otf);
}

body{
  font-family: main,微软雅黑;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.png");
  background-size: cover;
}
p{
  font-family: main,微软雅黑;
}
.btn{
  padding: 0px;
}
#bt{
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}
.xin{
  margin: 0;
  padding: 0;
}
#aixin{
  margin:0 auto;
  text-align: center;
  height: 400px;
  width: 500px;
}
#xin1{
  height: 320px;
  position: relative;
  top:-25px;
}
#xin2{
  margin-top: 30px;
  height: 400px;
  position: relative;
  top:100px;
  left: -41px;
}

@media screen and (max-width: 500px) {
  #aixin{
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    text-align: center;
    height: 200px;
    width: 350px;
  }
  #photo{
    width: 70%;
    height: 70%;
  }
  #xin1{
    margin-left: 20px;
    width: 80px;
    height: 132px;
    /*width: 145px;*/
    /*height: 235px;*/
    position: relative;
    top:20px;
  }
  #xin2{
    /*width: 125px;*/
    /*height: 290px;*/
    margin-top: 0px;
    width: 75px;
    height: 160px;
    position: relative;
    top:75px;
    left: -16px;
  }
  #bt{
    margin-bottom: 23px;
  }

}

/*41和42页面的样式*/
.center1{
  margin: auto;
  width: 500px;
}
.top4{
  margin-top: 13px;
  margin-left: 20px;
}
.top4 a{
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
  font-family: SimHei;

}
p{
  text-align: center;
  color: #fff;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#aihaotititle{
  margin-left: 15%;
  text-align: center;
}

#touxiang{
  width: 200px;
  height: 200px;
  background-image: url(../images/en.jpg);
  background-size: cover;
  display: block;
  border-radius: 50%;
  border-width:10px;
  border-color: #fff;
  border-style: solid;
  margin:0 auto;
}
#xingming p{
  text-align: center;
  margin: 10px 0;
  font-size: 25px;
  color: #fff;
}
.aihao{
  background-color: #fff;
  width: 200px;
  height: 100px;
  margin: auto;
  border-radius:25px;
  padding-top: 20px;
  padding-left: 30px;
}
#aihao_1{
  font-size: 10px;
  padding:10px 20px  10px 0;
}
.kaishi1{
  width: 150px;
  height: 50px;
  background-color: #fff;
  border-radius: 20px;
  margin:auto;
  margin-top: 60px;
  cursor:pointer;

}
.kaishi1 p{
  color: #3399cc;
  font-size: 25px;
  padding-top: 6px;
}
.kaishi1:hover{
  box-shadow:5px 5px 5px #3399cc;
}
.kaishi2{
  width: 75px;
  height: 25px;
  background-color: #fff;
  border-radius: 10px;
  margin:auto;
  margin-top: 15px;
  cursor:pointer;
}
.kaishi2 p{
  color: #3399cc;
  font-size: 15px;
  padding-top: 2px;
}
.kaishi2:hover{
  box-shadow:5px 5px 5px #3399cc;
}
.xxin{
  width: 50px;
  height: 80px;
  margin: auto;
  margin-top: 30px;
  padding:0;

  top: 50px;

}
#xleft{
  margin: auto;
  width: 50px;
  float: left;
  width: 25px;
}
#xright{
  margin: auto;
  width: 50px;
  float: right;
  width: 25px;
  margin-top: 10px;
}
#loading{
  width:85px;
  margin: auto;
  margin-top: 10px;
  color: #fff;
  font-size: 10px;
}
/*43的样式*/
#swiper-pagedot{
  width: 230px;
}
.center1{
  margin: auto;
  width: 500px;
}
.top4{
  margin-top: 13px;
  margin-left: 20px;
}
.top4 a{
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
  font-family: SimHei;

}
p{
  text-align: center;
  color: #fff;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#touxiang{
  width: 200px;
  height: 200px;
  background-image: url(../images/en.jpg);
  background-size: cover;
  display: block;
  border-radius: 50%;
  border-width:10px;
  border-color: #fff;
  border-style: solid;
  margin:0 auto;
}
#xingming p{
  margin: 10px 0;
  font-size: 25px;
  color: #fff;
}
.aihao{
  background-color: #fff;
  width: 200px;
  height: 100px;
  margin: auto;
  border-radius:25px;
  padding-top: 20px;
  padding-left: 30px;
}
#aihao_1{
  font-size: 10px;
  padding:10px 20px  10px 0;
}
.kaishi1{
  width: 150px;
  height: 50px;
  background-color: #fff;
  border-radius: 20px;
  margin:auto;
  margin-top: 60px;
  cursor:pointer;

}
.kaishi1 p{
  color: #3399cc;
  font-size: 25px;
  padding-top: 6px;
}
.kaishi1:hover{
  box-shadow:5px 5px 5px #3399cc;
}
.kaishi2{
  width: 75px;
  height: 25px;
  background-color: #fff;
  border-radius: 10px;
  margin:auto;
  margin-top: 15px;
  cursor:pointer;
}
.kaishi2 p{
  color: #3399cc;
  font-size: 15px;
  padding-top: 2px;
}
.kaishi2:hover{
  box-shadow:5px 5px 5px #3399cc;
}
.xxin{
  width: 50px;
  height: 80px;
  margin: auto;
  margin-top: 30px;
  padding:0;
  top: 50px;

}
#xleft{
  margin: auto;
  width: 50px;
  float: left;
  width: 25px;
}
#xright{
  margin: auto;
  width: 50px;
  float: right;
  width: 25px;
  margin-top: 10px;
}
#loading{
  width:85px;
  margin: auto;
  margin-top: 10px;

  color: #fff;
  font-size: 10px;
}
.xinxi{
  text-align: center;
  width: 180px;
  margin: auto;
}
#phone{
  color: #fff;
  font-size: 15px;
  margin: auto;
  width: 180px;
  text-align: left;
}
#qq{color: #fff;
  font-size: 15px;
  margin: auto;
  width: 180px;
  text-align: center;

}
#hobby{color: #fff;
  font-size: 15px;
  margin: auto;
  margin-top: 5px;
  width: 180px;
  text-align: center;

}
#email{color: #fff;
  font-size: 15px;
  margin: auto;
  width: 180px;
  text-align: left;

}

.swiper-container {
  width: 200px;
  height: 100px;
  margin-top: 40px;
  padding-bottom: 30px;

}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 100px;
  border-radius: 10px;
}
.swiper-slide p{
  color: #000;
  font-size: 15px;
  text-align: center;

}
@media screen and (max-width: 500px) {

  #hobby{color: #fff;
    font-size: 15px;
    margin: auto;
    width: 150px;
    text-align: center;

  }
  #email{color: #fff;
    font-size: 35px;
    margin: auto;
    width: 150px;
    text-align: center;
  }
  .center1{
    margin: auto;
    width: 300px;
  }
  .top4{
    margin-top: 13px;
    margin-left: 20px;
  }
  .top4 a{
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
    font-family: SimHei;

  }
  p{
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #touxiang{
    width: 150px;
    height: 150px;
    background-image: url(../images/en.jpg);
    background-size: cover;
    display: block;
    border-radius: 50%;
    border-width:10px;
    border-color: #fff;
    border-style: solid;
    margin:0 auto;
  }
  #xingming p{
    margin: 10px 0;
    font-size: 20px;
    color: #fff;
  }
  .aihao{
    background-color: #fff;
    width: 200px;
    height: 80px;
    margin: auto;
    border-radius:25px;
    padding-top: 20px;
    padding-left: 30px;
  }
  #aihao_1{
    font-size: 10px;
    padding:10px 20px  10px 0;
  }
  .kaishi1{
    width: 150px;
    height: 50px;
    background-color: #fff;
    border-radius: 20px;
    margin:auto;
    margin-top: 15px;
    cursor:pointer;

  }
  .kaishi1 p{
    color: #3399cc;
    font-size: 25px;
    padding-top: 6px;
  }
  .kaishi1:hover{
    box-shadow:5px 5px 5px #3399cc;
  }
  .kaishi2{
    width: 75px;
    height: 25px;
    background-color: #fff;
    border-radius: 10px;
    margin:auto;
    margin-top: 5px;
    cursor:pointer;
  }
  .kaishi2 p{
    color: #3399cc;
    font-size: 15px;
    padding-top: 2px;
  }
  .kaishi2:hover{
    box-shadow:5px 5px 5px #3399cc;
  }
  .xxin{
    width: 50px;
    height: 80px;
    margin: auto;
    margin-top: 10px;
    padding:0;
    top: 50px;

  }
  #xleft{
    margin: auto;
    width: 50px;
    float: left;
    width: 25px;
  }
  #xright{
    margin: auto;
    width: 50px;
    float: right;
    width: 25px;
    margin-top: 10px;
  }
  #loading{
    width:85px;
    margin: auto;
    color: #fff;
    font-size: 10px;
  }
  .xinxi{
    width: 180px;
    margin: auto;
  }
  #phone{
    color: #fff;
    font-size: 15px;
    margin: auto;
    margin-top: 5px;
    width: 180px;
    text-align: center;
  }
  #qq{color: #fff;
    font-size: 15px;
    margin: auto;
    margin-top: 5px;
    width: 180px;
    text-align: center;

  }
  #hobby{color: #fff;
    font-size: 15px;
    margin: auto;
    margin-top: 5px;
    width: 180px;
    text-align: center;

  }

  .swiper-container {
    width: 200px;
    height: 110px;
    margin-top: 30px;
    padding-bottom: 30px;

  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 100px;
    border-radius: 10px;
  }
  .swiper-slide p{
    color: #000;
    font-size: 15px;
    text-align: center;
  }
  #hi{
    font-size: 80%;
  }
}
