body{
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.png");
  background-size: cover;
}
.btn{
  padding: 0px;
}
#bt{
  padding-left: 50px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 50px;
}
.xin{
  margin: 0;
  padding: 0;
}
#aixin{
  margin:0 auto;
  text-align: center;
  height: 400px;
  width: 500px;
}
#xin1{
  position: relative;
  top:-25px;
}
#xin2{
  position: relative;
  top:120px;
  left: -42px;
}

@media screen and (max-width: 500px) {
  #aixin{
    margin-top:30px;
    text-align: center;
    height: 200px;
    width: 350px;
  }
  #photo{
    width: 70%;
    height: 70%;
  }
  #xin1{
    margin-left: 20px;
    width: 145px;
    height: 235px;
    position: relative;
    top:-30px;
  }
  #xin2{
    width: 125px;
    height: 290px;
    position: relative;
    top:90px;
    left: -28.3px;
  }
  #bt{
    margin-bottom: 23px;
    padding-left: 35px;
  }

}
